<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjx.springbootjwtdemo.mapper.Userdao">
    <select id="findUserById" resultType="com.hjx.springbootjwtdemo.entity.User">
        SELECT * FROM user
      where
      id=#{userid}
    </select>

    <select id="findByUsername" resultType="com.hjx.springbootjwtdemo.entity.User">
     select * from user where username=#{name}
    </select>
</mapper>